SUPABASE_URL=
SUPABASE_KEY=

FYERS_CLIENT_ID=
FYERS_SECRET_KEY=
FYERS_REDIRECT_URI=

# Optional: To automate login (no browser, no copy-paste), provide these:
FYERS_TOTP_KEY=YOUR_TOTP_SECRET_KEY
FYERS_PIN=